.content {
    margin-top: 10rem;
}

.searchbar {
    float: right;
    width: 20em;
    padding: 0;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  #searchImg svg {
    width: 100%;
    height: 100%;
  }

  #searchImg {
    float: right;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
  }

  #cornerSearch {
    width: 100%;
    margin: 0.05em 0.5em;
    border-radius: 0.33em;
  }


.navbar {
    background-color: rgb(160, 0, 0);
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

